@import "../../../../style.scss";

@mixin bottom_navbar-position {
  position: relative;
  right: 11px;
}

.bottom_navbar {
  @include display-prop(space-evenly, center, row);
  @include fontProp(0.9em, bold);
  height: 98px;
  margin: 1%;

  .connect-with-me {
    @include contentSize(100%, 31%);
    @include display-prop(space-evenly, center, row);
    gap: 5px;

    [value="Message"] {
      border: 2px solid $brandColor;
      background: transparent;
      color: $brandColor;
    }
  }

  .foot_menu {
    width: 57%;
    ul {
      display: flex;
      justify-content: space-evenly;
      color: rgb(109, 109, 109);
      li {
        width: auto;
        text-align: left;
        display: inline-block;
        cursor: default;

        &.home::before {
          content: url("../image/home.png");
          @include bottom_navbar-position;
        }
        &.profile::before {
          content: url("../image/profile.png");
          @include bottom_navbar-position;
        }
        &.community::before {
          content: url("../image/community.png");
          @include bottom_navbar-position;
        }
        &:active {
          color: $brandColor;
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .bottom_navbar {
    justify-content: center;
    flex-direction: column;
    .foot_menu {
      ul {
        display: none;
      }
    }
    .connect-with-me {
      width: 60%;
      min-width: 230px;
    }
  }
}
