@import "../../../style.scss";

header {
  @include flexProp(space-around, baseline, row);
  @include contentSize(61px, 100%);
  margin-bottom: 29px;
  box-sizing: border-box;

  .brandLogo {
    @include contentSize(45px, 133px);
    background: url("../commonComponentImage/logo.png") no-repeat center;
    background-size: contain;
  }

  .mobileVersion {
    display: none;
  }
}

nav {
  width: 40%;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 9px;
    li {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.96em;

      a {
        @include fontProp(0.95em, bold);
        color: rgb(71, 71, 71);
        text-decoration: none;

        &:active {
          color: rgb(184, 184, 184);
        }
      }
    }
  }
}

.inputBar {
  display: flex;
  align-items: flex-end;
  height: 38px;
  gap: 10px;
  margin: 0 4px 0 4px;

  input::placeholder {
    @include fontProp(0.77em, bold);
    color: rgb(167, 167, 167);
  }

  input[value] {
    cursor: pointer;
  }

  input[type="email"] {
    @include contentSize(90%, 163px);
    background: rgb(242, 241, 241);
    border-radius: 6px;
    padding: 0 8px 0 11px;
    border: 0;
    box-sizing: border-box;
  }

  input:focus {
    border: 1px solid grey;
    outline: none;
  }
}

@media (max-width: 640px) {
  header {
    nav,
    .inputBar,
    button {
      display: none;
    }

    .mobileVersion {
      display: inline-block;

      .menuBarOnMobile {
        @include contentSize(21px, 21px);
        display: inline-block;
        margin-left: 19px;
        background: url("../commonComponentImage/menu_bar_mob_black.png")
          no-repeat center;
        background-size: contain;
      }
    }
  }
}
