@import "../../../style.scss";

header {
  @include display-prop(space-around, baseline, row);
  @include contentSize(61px, 100%);
  margin-bottom: 29px;
  box-sizing: border-box;

  .official-log {
    height: 45px;
    width: 133px;
    background: url("../commonComponentImage/logo.png") no-repeat center;
    background-size: contain;
  }

  .mobile_version {
    display: none;
  }
}

@media (max-width: 640px) {
  header {
    nav,
    .input-bar {
      display: none;
    }

    .mobile_version {
      display: inline-block;

      button {
        display: none;
      }

      .menu_bar_logo {
        @include contentSize(21px, 21px);
        display: inline-block;
        margin-left: 19px;
        background: url("../commonComponentImage/menu_bar_mob_black.png")
          no-repeat center;
        background-size: contain;
      }
    }
  }
}

nav {
  width: 40%;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 9px;
    li {
      display: inline-block;
      cursor: default;
      font-size: 0.96em;
      a {
        @include fontProp(0.95em, bold);
        color: rgb(71, 71, 71);
        text-decoration: none;

        &:active {
          color: rgb(184, 184, 184);
        }
      }
    }
  }
}

.input-bar {
  display: flex;
  align-items: flex-end;
  height: 38px;
  gap: 10px;
  margin: 0 4px 0 4px;

  input::placeholder {
    @include fontProp(0.77em, bold);
    color: rgb(167, 167, 167);
  }

  input[value] {
    cursor: pointer;
  }

  input[type="email"] {
    @include contentSize(90%, 163px);
    background: rgb(242, 241, 241);
    border-radius: 6px;
    padding: 0 8px 0 11px;
    border: 0;
    box-sizing: border-box;
  }

  input:focus {
    border: 1px solid grey;
    outline: none;
  }
}
