$brandColor: rgba(32, 145, 249, 1);
@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}
@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}
@mixin fontProp($size, $isBold) {
  font-size: $size;
  font-weight: $isBold;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}

p {
  color: rgb(139, 139, 139);
}

.home_page_wallposter {
  @include display-prop(space-between, center, row);
  height: 73vh;

  img {
    @include contentSize(323px, 34%);
    min-width: 270px;
  }
  .wallposter_content {
    @include contentSize(auto, 42%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 22px;
    padding: 7px;

    h4 {
      color: $brandColor;
    }
    h2 {
      width: 60%;
    }
    p {
      width: 70%;
    }
  }

  .left_side_content {
    margin-left: 65px;
  }

  .wallposter_home {
    @include contentSize(323px, 34%);
    min-width: 270px;
  }

  #home_page_component_poster {
    background: url("../commonComponentImage/components.png") no-repeat center;
    background-size: contain;
  }
  #home_page_UiKit_poster {
    background: url("../commonComponentImage/ui_kit.png") no-repeat center;
    background-size: contain;
  }
  #home_page_component_poster_mob {
    display: none;
  }
  #home_page_code_poster {
    background: url("../commonComponentImage/code.png") no-repeat center;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .home_page_wallposter {
    flex-direction: column;
    height: 86vh;

    .left_side_content {
      margin: 0;
    }

    .wallposter_content {
      width: auto;
      align-items: center;
      margin: 13px;
      h2,
      p {
        text-align: center;
      }
    }

    #home_page_component_poster {
      display: none;
    }

    #home_page_UiKit_poster {
      background: url("../commonComponentImage/ui_mob.png") no-repeat center;
      background-size: contain;
    }
    #home_page_component_poster_mob {
      display: block;
      background: url("../commonComponentImage/components_mob.png") no-repeat
        center;
      background-size: contain;
    }
    #home_page_code_poster {
      background: url("../commonComponentImage/code_mob.png") no-repeat center;
      background-size: contain;
    }
  }
}
