@import "../../../style.scss";

.top_features_app {
  @include display-prop(space-evenly, center, column);
  height: 93vh;

  .feature_content {
    @include contentSize(auto, 310px);
    text-align: center;

    h2 {
      margin: 6px 0 23px 0;
      line-height: 1.3em;
    }
  }

  .amazing_feature_component {
    @include contentSize(55vh, 100%);
    @include display-prop(space-evenly, center, row);
    gap: 6px;
    box-sizing: border-box;

    .img {
      @include display-prop(space-evenly, center, row);
      @include contentSize(95%, inherit);
      gap: 7px;
      box-sizing: inherit;

      .content_feature {
        @include contentSize(inherit, 254px);
        @include display-prop(space-evenly, center, column);
        border: 1px solid rgb(205, 205, 205);
        border-radius: 8px;
        box-shadow: 1px 5px 8px rgb(205, 205, 205);

        img {
          @include contentSize(53px, 53px);
          object-fit: contain;
          object-position: center;
        }

        h3,
        p {
          text-align: center;
        }

        p {
          width: 75%;
          font-size: 0.9em;
          line-height: 1.4em;
        }

        a {
          text-decoration: none;
          color: $brandColor;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .top_features_app {
    margin-top: 34px;
    height: auto;
    .amazing_feature_component {
      flex-direction: column;
      height: 179vh;
    }
    .feature_content {
      width: 243px;
    }
  }
}

@media (max-width: 480px) {
  .top_features_app {
    height: auto;
    gap: 16px;
    .amazing_feature_component {
      height: auto;
      gap: inherit;
      .img {
        flex-direction: column;
        gap: inherit;
        .content_feature {
          height: 293px;
        }
      }
    }
  }
}
