$brandColor: rgba(32, 145, 249, 1);
@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}
@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}
@mixin fontProp($size, $isBold) {
  font-size: $size;
  font-weight: $isBold;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}
[type="button"] {
  @include contentSize(42px, 92px);
  @include fontProp(0.78em, bold);
  background-color: $brandColor;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 6px;
  box-sizing: border-box;

  &:active {
    transform: scale(0.93);
  }
}
p {
  color: rgb(139, 139, 139);
}

.news_letter_homepage {
  @include contentSize(71vh, 100%);
  @include display-prop(space-evenly, center, column);
  box-sizing: border-box;

  .news_letter_headline {
    @include contentSize(63px, 193px);
    text-align: center;
    h2 {
      margin: 12px;
      font-size: 1.7em;
    }
    h4 {
      color: rgb(245, 117, 0);
    }
  }
  .isInterested {
    @include contentSize(194px, 251px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .subscribed_content {
      p {
        font-size: 0.74em;
      }
      h4 {
        margin-bottom: 9px;
      }
    }

    form {
      @include display-prop(space-evenly, center, column);
      height: 66%;
      padding: 6px;

      input {
        height: 38px;
        width: 100%;
        border: 1px solid rgb(213, 213, 213);
        border-radius: 6px;
        padding-left: 12px;
        box-sizing: border-box;

        &::placeholder {
          font-size: 0.8em;
        }
      }
      button {
        width: 100%;
      }
    }
  }
}
