$brandColor: rgba(32, 145, 249, 1);
@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}
@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}
@mixin fontProp($size, $isBold) {
  font-size: $size;
  font-weight: $isBold;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}
[type="button"] {
  @include contentSize(42px, 92px);
  @include fontProp(0.78em, bold);
  background-color: $brandColor;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 6px;
  box-sizing: border-box;

  &:active {
    transform: scale(0.93);
  }
}
p {
  color: rgb(139, 139, 139);
}

.aboutBodyComponent {
  @include display-prop(space-around, center, column);
  height: 188vh;

  .title {
    @include contentSize(18%, 40%);
    @include display-prop(space-evenly, center, column);
    min-width: 225px;
    text-align: center;
    margin: 23px;

    p {
      width: 80%;
      min-width: 234px;
      margin-top: 12px;
      line-height: 1.3em;
      font-size: 0.9em;
    }
  }

  .peopleInterest {
    @include contentSize(70%, 90%);
    @include display-prop(center, center, row);

    .peopleResponseAbout {
      @include contentSize(100%, 95%);
      @include display-prop(space-evenly, center, row);
      flex-wrap: wrap;
      gap: 7px;

      .miniProfile {
        @include contentSize(54vh, 30%);
        min-width: 214px;
        box-sizing: border-box;

        .profile_photo,
        .profile_desc {
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }

        .profile_photo {
          @include contentSize(138px, 100%);
          justify-content: center;

          img {
            height: 117px;
          }
        }

        .profile_desc {
          justify-content: space-evenly;
          flex-direction: column;
          height: 54%;

          h3 {
            color: $brandColor;
          }

          h5 {
            color: rgb(109, 109, 109);
          }

          p {
            text-align: center;
            width: 70%;
            font-size: 0.9em;
            line-height: 1.3em;
          }
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .aboutBodyComponent {
    height: auto;
  }
}
