@import "../../../style.scss";

p {
  color: rgb(139, 139, 139);
}

.aboutWelcomePage {
  height: 140vh;
  display: flex;
  flex-direction: column;

  .aboutWelcomePageContent {
    @include contentSize(75vh, 100%);
    @include display-prop(center, center, column);
    box-sizing: border-box;

    div {
      width: 30%;
      min-width: 284px;
      text-align: center;

      h3 {
        color: grey;
        margin: 7px;
      }

      h1 {
        span {
          background: linear-gradient(
            to bottom right,
            rgba(0, 243, 185, 0.87) 10%,
            rgba(33, 135, 255, 0.87)
          );
          background-clip: text;
          color: transparent;
        }
      }
    }
    p {
      margin: 23px;
      text-align: center;
    }
  }

  .aboutWelcomePage_imgsrc {
    @include contentSize(50%, 100%);
    background: url("../aboutPageImg/Frame\ 39.png") no-repeat center;
    background-size: 100% 100%;
  }
}

// @media (max-width: 480px) {
//   .aboutWelcomePage {
//     .aboutWelcomePageContent {
//       div {
//         width: 123px;

//         // @include contentSize(39vh, 224px);
//       }
//     }
//   }
// }
