@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}
@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}
p {
  color: rgb(139, 139, 139);
}

.key_feature {
  @include contentSize(53vh, 100%);
  @include display-prop(space-evenly, center, row);
  flex-wrap: wrap;
  gap: 5px;
  box-sizing: border-box;

  .key_feature_module {
    @include contentSize(28vh, 21%);
    min-width: 245px;
    padding: 2px;
    box-sizing: border-box;

    .feature_headline {
      height: 40%;
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      img {
        @include contentSize(37px, 37px);
        margin-right: 11px;
      }
    }
    p {
      font-size: 0.9em;
      line-height: 1.3em;
    }
  }
}

@media (max-width: 480px) {
  .key_feature {
    height: auto;
  }
}
