@import "../../../style.scss";

.blog_body_content {
  @include display-prop(space-evenly, center, row);
  @include contentSize(160vh, 100%);
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 23px;
  gap: 16px;

  .first_rowOf_body {
    @include contentSize(343px, 25%);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px rgb(190, 190, 190);

    ul {
      display: flex;
      li {
        @include fontProp(0.8em, 600);
        list-style: none;
        margin-right: 12px;
        color: $brandColor;
        cursor: pointer;
      }
    }
    .about_blog_img_src {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: inherit;
      padding: 12px;

      h5 {
        color: rgb(182, 182, 182);
        font-size: 0.7em;
      }

      p {
        font-size: 0.8em;
        line-height: 1.4em;
        height: 55px;
      }
    }
  }
}

@media (max-width: 930px) {
  .blog_body_content {
    height: auto;
    gap: 26px;

    .first_rowOf_body {
      width: 241px;
      min-width: 0;
    }
  }
}

@media (max-width: 850px) {
  .blog_body_content {
    .first_rowOf_body {
      width: 211px;
      height: 313px;
    }
  }
}

@media (max-width: 770px) {
  .blog_body_content {
    .first_rowOf_body {
      width: 252px;
      height: 333px;
    }
  }
}

@media (max-width: 600px) {
  .blog_body_content {
    .first_rowOf_body {
      width: 51%;
      min-width: 254px;
      height: 382px;
    }
  }
}
