$brandColor: rgba(32, 145, 249, 1);
@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}
@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}
@mixin fontProp($size, $isBold) {
  font-size: $size;
  font-weight: $isBold;
}
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}
[type="button"] {
  @include contentSize(42px, 92px);
  @include fontProp(0.78em, bold);
  background-color: $brandColor;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 6px;
  box-sizing: border-box;

  &:active {
    transform: scale(0.93);
  }
}
p {
  color: rgb(139, 139, 139);
}

.aboutProduct {
  @include display-prop(center, center, column);
  height: 88vh;
  line-height: 2.5rem;
  background: rgb(248, 248, 248);

  div {
    width: auto !important;
    text-align: center;

    h3 {
      height: 49px;
      color: rgb(120, 120, 120);
    }
    h1 {
      height: auto;
      min-width: 291px;
      font-weight: 800;

      span {
        background: linear-gradient(
          to bottom right,
          rgba(0, 243, 185, 0.87) 10%,
          rgba(33, 135, 255, 0.87)
        );
        background-clip: text;
        color: transparent;
      }
    }
  }
  p {
    width: 36%;
    min-width: 193px;
    line-height: 1.4rem;
    margin: 13px;
    text-align: center;
  }
  button {
    width: 127px;
    margin: 22px;
  }
}

.key_feature {
  background-color: white;
}

@media (max-width: 480px) {
  .aboutProduct {
    height: auto;
    justify-content: space-evenly !important;

    div {
      height: 33vh;
    }
  }
}
