$brandColor: rgba(32, 145, 249, 1);

@mixin display-prop($justContent, $alingItems, $direction) {
  display: flex;
  justify-content: $justContent;
  align-items: $alingItems;
  flex-direction: $direction;
}

@mixin contentSize($hgt, $wdt) {
  height: $hgt;
  width: $wdt;
}

@mixin fontProp($size, $isBold) {
  font-size: $size;
  font-weight: $isBold;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-family: sans-serif;
}

////author info

section {
  @include display-prop(space-evenly, center, column);
  @include contentSize(78vh, 100%);
  padding: 22px;
  background: rgb(248, 248, 248);
  text-align: center;
  box-sizing: border-box;

  img {
    @include contentSize(183px, auto);
    object-fit: contain;
    margin: 19px;
  }

  .author_info {
    line-height: 2.8em;
    h1 {
      font-size: 2.1em;
    }
  }

  .author_desc {
    width: 51%;
    min-width: 214px;
    line-height: 1.5em;
  }
}

//////bottom navbar
@mixin bottom_navbar-position {
  position: relative;
  right: 11px;
}

.bottom_navbar {
  @include display-prop(space-evenly, center, row);
  @include fontProp(0.9em, bold);
  height: 98px;
  margin: 1%;

  .connect-with-me {
    @include contentSize(100%, 31%);
    @include display-prop(space-evenly, center, row);
    gap: 5px;

    [value="Message"] {
      border: 2px solid $brandColor;
      background: transparent;
      color: $brandColor;
    }
  }
}
.foot_menu {
  width: 57%;
  ul {
    @include display-prop(space-evenly, "", row);
    color: rgb(109, 109, 109);
    li {
      width: auto;
      text-align: left;
      display: inline-block;
      cursor: default;

      &.home::before {
        content: url("../../../../public/images/home.png");
        @include bottom_navbar-position;
      }
      &.profile::before {
        content: url("../../../../public/images/profile.png");
        @include bottom_navbar-position;
      }
      &.community::before {
        content: url("../../../../public/images/community.png");
        @include bottom_navbar-position;
      }
      &:active {
        color: $brandColor;
      }
    }
  }
}

@media (max-width: 610px) {
  .bottom_navbar {
    justify-content: center;
    flex-direction: column;
    ul {
      display: none;
    }
    .connect-with-me {
      width: 60%;
      min-width: 230px;
    }
  }
}
