@import "../style.scss";

.err_body {
  @include display-prop(space-evenly, center, column);
  @include contentSize(83vh, 100%);
  background: rgb(245, 245, 245);
  box-sizing: border-box;

  p {
    width: 45%;
    min-width: 230px;
    font-size: small;
    text-align: center;
    line-height: 1.4em;
    color: rgb(106, 106, 106);
  }

  .err_code,
  h1 {
    font-weight: 800;
  }

  .err_icon {
    @include contentSize(43vh, 60%);
    background: url("../../public/images/404.png") no-repeat center;
    background-size: contain;
  }
}
