@import "../../../style.scss";

.contactUs_container {
  display: flex;
  justify-content: center;
  height: 77vh;
  margin: 28px 0 10% 0;
  form {
    @include display-prop(space-evenly, center, column);
    @include contentSize(inherit, 65%);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 17px;
    box-shadow: 1px 4px 6px rgb(230, 230, 230);

    input,
    textarea {
      height: 41px;
      width: 75%;
      background-color: rgb(244, 244, 244);
      padding: 5px 0 0 15px;
      border: none;
      border-radius: 6px;

      &:focus {
        outline: 1px solid;
      }
    }
    button {
      border-radius: 6px;
      height: 38px;
    }
    textarea {
      height: 133px;
      padding-top: 18px;
    }
  }
}

@media (max-width: 480px) {
  .contactUs_container {
    form {
      width: 95%;
    }
  }
}
