@import "../../../style.scss";

.getInTouch {
  @include display-prop(space-evenly, center, column);
  height: 51vh;
  .about {
    width: 31%;
    min-width: 193px;
    text-align: center;
    line-height: 1.3rem;
    h2 {
      margin: 15px;
    }
  }
}
