@import "../../../style.scss";

.FAQ {
  @include display-prop(space-evenly, center, column);
  @include contentSize(73vh, 100%);
  box-sizing: border-box;
  ul {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    li {
      @include fontProp(0.91em, bold);

      width: 90%;
      min-width: 183px;
      list-style: none;
      margin: 6px;
      padding: 7px;
      color: rgb(50, 50, 50);

      &::after {
        @include contentSize(22px, 21px);
        box-sizing: border-box;
        content: url("../sub_plan_info/image/Vector.png");
        float: right;
        margin-left: 16px;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  h2 {
    text-align: center;
    color: $brandColor;
  }
  hr {
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0 0 1px rgb(150, 150, 150);
  }
}

@media (max-width: 480px) {
  .FAQ {
    height: auto;
    ul {
      display: flex;
      flex-direction: column;
      width: 273px;
    }
    h2 {
      margin: 23px;
    }
  }
}
